:host ::ng-deep {
    .layout-config-sidebar.p-sidebar .p-sidebar-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .p-dropdown {
        margin-bottom: 1rem;
    }
    .p-autocomplete {
        display: inline-flex;
        position: relative;
        margin-bottom: 12px;
    }
}
