<form [formGroup]="excelPageForm">
    <!-- Note for Image display from Gdrive use this format this works only in Iframe
     -https://drive.google.com/file/d/1vZ9QEvhrLKWJfwPlFrer8NOhSGTqPv8N/preview -->
    <!-- https://drive.google.com/file/d/1KmrmjtYWwDbwGF7GEWZQRUxqi3n-deoi/view?usp=sharing -->
    <p-toast />
    <!-- <app-card-book></app-card-book> -->
    <div class="grid">
        <div class="col-12">
            <div class="card px-3 py-3">
                <!-- Advertisement Home Screen -->
                <div *ngIf="showAddVideo && !showExcelContent" class="video-container mt-3">
                    <iframe width="1010" height="560"
                        src="https://www.youtube.com/embed/IC6rjfBIElM?si=QbM_EY7DIWHTranw" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <!-- <app-trump-card></app-trump-card> -->
                </div>
                <!-- Show Excel sheet to select -->
                <div *ngIf="showExcelsTable">
                    <p-orderList [value]="products" [listStyle]="{ height: '25rem' }" header="List of Products">
                        <ng-template let-product pTemplate="item">
                            <div class="flex flex-wrap p-2 align-items-center gap-3"
                                (click)="onExcelListClick(product)">
                                <img src="assets/demo/images/product/excelImg.jpg" [alt]="product.name"
                                    class="w-4rem shadow-2 flex-shrink-0 border-round" />
                                <div class="flex-1 flex flex-column gap-2">
                                    <span class="font-bold">{{
                                        product.name
                                        }}</span>
                                    <div class="flex align-items-center gap-2">
                                        <i class="pi pi-tag text-sm"></i>
                                        <span>
                                            {{ product.tags }}
                                        </span>
                                    </div>
                                </div>
                                <span class="font-bold text-900">
                                    <p-button icon="pi pi-download" [loading]="loading"
                                        (onClick)="downloadFile(product)" />
                                </span>
                            </div>
                        </ng-template>
                    </p-orderList>
                </div>
                <!-- Main excel web page content -->
                <div *ngIf="!showExcelsTable">
                    <div *ngIf="data.length==0" class="flex justify-content-center align-content-center">
                        <p-progressSpinner ariaLabel="loading" />
                    </div>
                    <!-- Content View -->
                    <div *ngIf="templateName=='contentview' && showExcelContent">
                        <!-- Category For loop -->
                        <div *ngFor="let category of groupedData; let i = index">
                            <div>
                                <h2 class="text-blue-700">
                                    {{ category.category }}
                                </h2>
                                <!-- SubCategory For loop -->
                                <div *ngFor="
                                    let subCategory of category.subCategories;
                                    let j = index
                                ">
                                    <div [id]="'section-' + i + '-' + j">
                                        <h4 class="text-blue-700">
                                            {{ subCategory.subCategory }}
                                            <!-- Speak Button -->
                                            <span class="mr-2"><p-toggleButton formControlName="checked"
                                                    offIcon="pi pi-volume-off" onIcon="pi pi-volume-up" (onChange)="
                                            onToggle(
                                                $event,
                                                subCategory
                                            )
                                        " /></span>
                                        </h4>
                                        <!--Main Content  -->
                                        <!-- IdCard view -->
                                        <div *ngFor="
                                         let content of subCategory.contents
                                         ">
                                            <div *ngIf="content.idCardContent.length > 0">
                                                <div>
                                                    <p-card>
                                                        <ng-template pTemplate="footer">


                                                            <div class="grid">
                                                                <div
                                                                    class="col-4 lg:col-4 md:col-6 sm:col-12 m-0 pb-0 pt-0 pr-0">
                                                                    <div class="card p-0 m-1">

                                                                        <iframe [src]="content.idCardContent[0][0]"
                                                                            width="260px" height="230px" frameborder="0"
                                                                            allowfullscreen="false"
                                                                            style="pointer-events:none;background-color: white; border: none;">
                                                                        </iframe>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="col-8 lg:col-8 md:col-6 sm:col-12 m-0 pb-0 pt-0 pl-0">
                                                                    <div class=" card p-2 m-1">
                                                                        <div
                                                                            *ngFor="let cont of content.idCardContent;let i=index">
                                                                            <div *ngIf="i>0" class="grid">
                                                                                <div class="col-4 ">
                                                                                    {{cont[0]}}</div>
                                                                                <div class="col-8 ">{{cont[1]}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </p-card>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- IdCard view end -->
                                        <div *ngFor="
                                            let content of subCategory.contents
                                        ">
                                            <!-- Main XLContent -->
                                            <div *ngIf="
                                                content.textContent.length > 0
                                             ">

                                                <!-- Main XLContent Data -->
                                                <!-- <span [innerHTML]="
                                                    content.textContent[0]
                                                ">
                                             </span> -->
                                                <div *ngIf="
                                                content.textContent.length > 0
                                             ">
                                                    <div *ngFor="
                                             let textCont of content.textContent
                                             ">
                                                        <div [innerHTML]="
                                                        textCont
                                                    ">
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <!-- XLCodeContent -->
                                            <div *ngIf="
                                                content.codeContent.length > 0
                                            ">
                                                <div *ngFor="
                                             let code of content.codeContent
                                            ">
                                                    <div class="code-card2 shadow-4">
                                                        <span [innerHTML]="
                                                        code
                                                    ">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-2" *ngIf="
                                                content.noteContent.length > 0
                                             ">
                                                <div *ngFor="
                                              let msg of content.noteContent
                                             ">
                                                    <p-messages [severity]="
                                                  checkString(msg)
                                              ">
                                                        <ng-template pTemplate>
                                                            <div class="ml-2" [innerHTML]="
                                                          msg
                                                      "></div>
                                                        </ng-template>
                                                    </p-messages>
                                                </div>
                                            </div>
                                            <p-panel [toggleable]="true" *ngIf="
                                                    content?.imageContent?.length>0 ||
                                                    content?.gifContent?.length>0 ||
                                                    content?.videoContent?.length>0 ||
                                                    content?.urlRefContent?.length>0 ||
                                                    content?.pdfsContent?.length>0
                                                ">
                                                <ng-template pTemplate="header">
                                                    <div class="flex align-items-center gap-2">
                                                        <span class="font-bold">
                                                            References
                                                        </span>
                                                        <span class="ml-2">
                                                            <p-paginator (onPageChange)="onContentChange($event)"
                                                                [first]="0" [rows]="5" [totalRecords]="20" />
                                                        </span>

                                                    </div>
                                                </ng-template>
                                                <p-tabView *ngIf="
                                                        content?.imageContent?.length>0 ||
                                                    content?.gifContent?.length>0 ||
                                                    content?.videoContent?.length>0 ||
                                                    content?.urlRefContent?.length>0 ||
                                                    content?.pdfsContent?.length>0
                                                    " styleClass="tabview-custom" (onChange)="onTabChange($event)">
                                                    <p-tabPanel class="p-0" *ngIf="
                                                            content
                                                                .imageContent.length>0
                                                        " header="Images">
                                                        <ng-template pTemplate="header">
                                                            <div class="flex align-items-center gap-2">
                                                                <i class="pi pi-images" style="
                                                                        color: slateblue;
                                                                    "></i>
                                                                <span class="font-bold white-space-nowrap m-0">
                                                                    Images
                                                                </span>
                                                            </div>
                                                        </ng-template>
                                                        <div *ngIf="content
                                                                .imageContent[contentIndexValue]"
                                                            class="flex justify-content-center align-content-center">

                                                            <iframe [src]=" content
                                                                .imageContent[contentIndexValue]" width="100%"
                                                                height="650px" frameborder="0" allowfullscreen></iframe>
                                                        </div>
                                                    </p-tabPanel>
                                                    <p-tabPanel *ngIf="
                                                            content
                                                                .gifContent.length>0
                                                        " header="Gifs">
                                                        <ng-template pTemplate="header">
                                                            <div class="flex align-items-center gap-2">
                                                                <i class="pi pi-sparkles" style="
                                                                        color: slateblue;
                                                                    "></i>
                                                                <span class="font-bold white-space-nowrap m-0">
                                                                    Gifs
                                                                </span>
                                                            </div>
                                                        </ng-template>
                                                        <div *ngIf="content
                                                                .gifContent[contentIndexValue]"
                                                            class="flex justify-content-center align-content-center">
                                                            <iframe [src]="
                                                            content
                                                                .gifContent[contentIndexValue]" width="640"
                                                                height="480" width="100%" height="650px" frameborder="0"
                                                                allowfullscreen></iframe>

                                                        </div>
                                                    </p-tabPanel>
                                                    <p-tabPanel *ngIf="
                                                            content
                                                                .videoContent.length>0
                                                        " header="Videos">
                                                        <ng-template pTemplate="header">
                                                            <div class="flex align-items-center gap-2">
                                                                <i class="pi pi-play-circle" style="
                                                                        color: slateblue;
                                                                    "></i>
                                                                <span class="font-bold white-space-nowrap m-0">
                                                                    Videos
                                                                </span>
                                                            </div>
                                                        </ng-template>
                                                        <div *ngIf="content
                                                                .videoContent[contentIndexValue]"
                                                            class="flex justify-content-center align-content-center">
                                                            <iframe width="1020" height="620" [src]="
                                                                    content
                                                                        .videoContent[contentIndexValue]
                                                                " frameborder="0"
                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                                allowfullscreen>
                                                            </iframe>
                                                        </div>
                                                    </p-tabPanel>
                                                    <p-tabPanel *ngIf="
                                                            content
                                                                .urlRefContent.length>0
                                                        " header="URLs">
                                                        <ng-template pTemplate="header">
                                                            <div class="flex align-items-center gap-2">
                                                                <i class="pi pi-link" style="
                                                                        color: slateblue;
                                                                    "></i>
                                                                <span class="font-bold white-space-nowrap m-0">
                                                                    Website
                                                                </span>
                                                                <p-badge value="2" />
                                                            </div>
                                                        </ng-template>
                                                        <div *ngIf="content
                                                                .urlRefContent[contentIndexValue]"
                                                            class="flex justify-content-center align-content-center">
                                                            <!-- <div
                                                                *ngIf="checkIframe('iframe-'+i+'-'+contentIndexValue); else fallbackContent"> -->
                                                            <iframe [src]="
                                                                content
                                                                    .urlRefContent[contentIndexValue]
                                                            " width="100%" height="650px" frameborder="0"
                                                                allowfullscreen>
                                                            </iframe>
                                                            <!-- </div> -->
                                                            <!-- <ng-template #fallbackContent>
                                                            <div id="fallback" style="margin-top: 20px;">
                                                                <p>The website cannot be displayed in an iframe.
                                                                    Click <a [href]="content
                                                                .urlRefContent[contentIndexValue]"
                                                                        target="_blank">here</a>
                                                                    to visit the site directly.</p>
                                                            </div>
                                                        </ng-template> -->

                                                        </div>
                                                    </p-tabPanel>
                                                    <p-tabPanel *ngIf="
                                                            content
                                                                .pdfContent.length>0
                                                        " header="URLs">
                                                        <ng-template pTemplate="header">
                                                            <div class="flex align-items-center gap-2">
                                                                <i class="pi pi-link" style="
                                                                        color: slateblue;
                                                                    "></i>
                                                                <span class="font-bold white-space-nowrap m-0">
                                                                    Document
                                                                </span>
                                                                <p-badge value="2" />
                                                            </div>
                                                        </ng-template>
                                                        <div *ngIf="content
                                                                .pdfContent[contentIndexValue]"
                                                            class="flex justify-content-center align-content-center">
                                                            <iframe [src]="
                                                                    content
                                                                        .pdfContent[contentIndexValue]
                                                                " width="100%" height="650px" frameborder="0"
                                                                allowfullscreen>
                                                            </iframe>
                                                        </div>
                                                    </p-tabPanel>
                                                </p-tabView>
                                            </p-panel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Q&A View -->
                    <div *ngIf="templateName=='q&aview' && showExcelContent">
                        <div *ngFor="let category of groupedData; let i = index">
                            <div>
                                <h2 class="text-blue-700">
                                    {{ category.category }}
                                </h2>
                                <div *ngFor="
                                    let subCategory of category.subCategories;
                                    let j = index
                                ">
                                    <div [id]="'section-' + i + '-' + j">
                                        <h4 class="text-blue-700">
                                            {{ subCategory.subCategory }}
                                        </h4>
                                        <div *ngFor="
                                            let content of subCategory.contents
                                        ">
                                            <div *ngIf="
                                                content.questionSet?.length > 0
                                            ">
                                                <div class="mb-3">
                                                    <span [innerHTML]="
                                                        content.snoSet[0] + '.'
                                                    ">
                                                    </span>
                                                    <span [innerHTML]="
                                                        content.questionSet[0]
                                                    ">
                                                    </span>
                                                </div>
                                                <div class="mb-3" *ngIf="
                                                    content.optionSet?.length >
                                                    0
                                                ">
                                                    <span *ngFor="
                                                        let option of content.optionSet;
                                                        let i = index
                                                    " class="mr-5">
                                                        <div style="
                                                            color: cornflowerblue;
                                                            display: inline;
                                                        ">
                                                            <p-checkbox formControlName="optionSelect" [value]="
                                                                i + '|' + option
                                                            " [inputId]="i" (onChange)="
                                                                setUserAnswers(
                                                                    content
                                                                        .snoSet[0],
                                                                    content
                                                                        .questionSet[0],
                                                                    i +
                                                                        1 +
                                                                        '|' +
                                                                        option,
                                                                    content
                                                                        .answerSet[0]
                                                                )
                                                            " />

                                                            <label [for]="option" class="ml-2">
                                                                {{ option }}
                                                            </label>
                                                        </div>
                                                    </span>
                                                </div>
                                                <div *ngIf="
                                                    content.answerSet?.length >
                                                    0
                                                ">
                                                    <div [hidden]="!showAnswers">
                                                        <p-messages severity="info">
                                                            <ng-template pTemplate>
                                                                <div class="ml-2" [innerHTML]="
                                                                    content
                                                                        .answerSet[0] +
                                                                    content
                                                                        .reasonSet[0]
                                                                "></div>
                                                            </ng-template>
                                                        </p-messages>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-center align-content-center flex-wrap mb-1">
                            <p-splitButton label="Download" (onClick)="generatePDF()" [model]="downloadAnsOptions"
                                class="mr-2 custom-splitbutton dropdown-left" />
                            <p-button icon="pi pi-check" [loading]="loading" label="Submit" (onClick)="submitAnswer()"
                                class="mr-2" />
                            <p-button icon="pi pi-envelope" [loading]="loading" label="SendMail"
                                (onClick)="sendEmail($event)" class="mr-2" />
                            <!-- <p-inputSwitch
                            formControlName="fixedFooter"
                            class="mt-1"
                        ></p-inputSwitch> -->
                        </div>
                    </div>
                    <!-- Task View -->
                    <div *ngIf="templateName=='taskview' && showExcelContent">
                        <span *ngFor="let category of groupedData; let i = index">
                            <span>
                                <h2 class="text-blue-700">
                                    {{ category.category }}
                                </h2>
                                <span *ngFor="
                                    let subCategory of category.subCategories;
                                    let j = index
                                ">
                                    <!-- Assign a unique ID based on indices -->
                                    <span [id]="'section-' + i + '-' + j">
                                        <h4 class="text-blue-700">
                                            {{ subCategory.subCategory }}
                                        </h4>
                                        <span *ngFor="
                                            let content of subCategory.contents
                                        ">
                                            <span *ngIf="content.taskSet?.length > 0">
                                                <div class="p-field-checkbox" *ngFor="
                                                    let task of content.taskSet;
                                                    let i = index
                                                 ">
                                                    <p-checkbox name="taskControl" value="{{ task }}"
                                                        formControlName="taskControl" inputId="{{ i }}"
                                                        class="mt-2"></p-checkbox>
                                                    <label for="{{ task }}" class="ml-2">{{ task }}</label>
                                                </div>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                    <!-- trump card view -->
                    <div *ngIf=" templateName=='trumpcardview' && showExcelContent && data.length>0">
                        <app-trump-card [data]="data"></app-trump-card>
                    </div>
                    <!-- Book View -->
                    <div *ngIf="templateName=='bookview'">
                        <app-card-book></app-card-book>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>