<div class="card mb-3">
    <div class="grid">
        <div class="col-3 card flex flex-column justify-content-center">
            <!-- <p-button
                label="Toggle All"
                [text]="true"

                class="w-full"
            /> -->
            <button
                pButton
                pRipple
                label="Toggle All"
                (click)="toggleAll()"
                class="p-button-primary w-full"
            ></button>
            <p-panelMenu [model]="items" styleClass="w-full md:w-20rem" />
        </div>
        <div class="col-9">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="General Settings">
                    <div
                        class="flex justify-content-between align-content-center mt-4"
                    >
                        <span>Pagination</span>
                        <textarea
                            rows="5"
                            cols="30"
                            pInputTextarea
                            [autoResize]="true"
                            class="w-8"
                            style="resize: vertical; min-width: 0"
                        ></textarea>
                        <p-inputSwitch [(ngModel)]="paginationChecked" />
                    </div>
                    <div
                        class="flex justify-content-between align-content-center mt-4"
                    >
                        <span>SideNavigt </span>
                        <textarea
                            rows="5"
                            cols="30"
                            pInputTextarea
                            [autoResize]="true"
                            class="w-8"
                            style="resize: vertical; min-width: 0"
                        ></textarea>
                        <p-inputSwitch [(ngModel)]="sidenavChk" />
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>
