<ul class="layout-menu">
    <div *ngIf="showTutorialLink">
        <p-listbox [options]="tutorialLink" optionLabel="label" [style]="{'width':'15rem'}"
            [listStyle]="{'max-height': '220px'}" (onChange)="onChangeListbox($event)" />
    </div>
    <ng-container *ngFor="let item of model; let i = index">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true" [ngClass]="item.styleClass"
            [ngStyle]="item.style">
        </li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
    <li>
    </li>
</ul>