<p-toast />
<div class="layout-topbar">
    <!-- <a class="layout-topbar-logo" routerLink="" (click)="gotoHome()">
        <img
            src="assets/layout/images/{{
                layoutService.config().colorScheme === 'light'
                    ? 'Primelogo-dark'
                    : 'Primelogo-dark'
            }}.PNG"
            alt="logo"
        />
        <span class="topbarHeading">{{ webName }}</span>
    </a> -->
    <p-splitButton
        label="Upload"
        (onClick)="recentActionCall()"
        [model]="nestedActionitems"
        class="mr-2 custom-splitbutton dropdown-left"
    />
    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <button
        #menubutton
        *ngIf="sideBarButton.show"
        class="p-link layout-menu-button layout-topbar-button mr-2"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>
    <!-- app.component.html -->
    <div class="menu-div">
        <p-menubar *ngIf="menuItems.length > 0" [model]="menuItems" />
    </div>
    <!-- <div><p-speedDial [model]="items" direction="down" /></div> -->
    <div class="p-inputgroup">
        <p-dropdown
            [options]="autoCompleteitems"
            [(ngModel)]="selectedItem"
            [showClear]="true"
            placeholder="Select a Excel content"
            [editable]="true"
            optionLabel="name"
            (onChange)="onSearchClick()"
        />
    </div>
    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <p-fileUpload
            [hidden]="true"
            #fileUpload
            [pTooltip]="'upload your excel to Preview'"
            name="myfile[]"
            mode="basic"
            [auto]="true"
            styleClass="d-none"
            accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            (onSelect)="fileSelectAndPreview(fileUpload, $event)"
        ></p-fileUpload>
        <!-- <button class="p-link layout-topbar-button" (click)="loginRedirect()">
            <img
                *ngIf="isLoggedIn"
                src="assets/layout/images/Primelogo-dark.PNG"
                alt="Profile Image"
                class="button-image"
            />
            <i *ngIf="!isLoggedIn" class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button
            class="p-link layout-topbar-button"
            [routerLink]="'/documentation'"
         >
            <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
            <span>Settings</span>
        </button> -->
    </div>
</div>
<!-- Dialog box -->
<p-dialog
    header="Edit Profile"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
>
    <span class="p-text-secondary block mb-5">{{
        this.dialogboxContent[0]
    }}</span>
    <!-- <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold w-6rem">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div> -->
    <div class="flex justify-content-end gap-2">
        <p-button
            label="Cancel"
            severity="secondary"
            (onClick)="visible = false"
        />
        <p-button label="Confirm" (onClick)="dialogConfirm()" />
    </div>
</p-dialog>
