// /* styles.css or app.component.css */
// .p-inputgroup {
//     max-width: 400px;
//     margin: 0 auto;
//     padding: 1rem;
//   }

//   .p-inputgroup-addon .p-button {
//     border: none;
//     background-color: transparent;
//   }

//   .p-inputgroup-addon .pi {
//     font-size: 1.2rem;
//   }

.p-inputgroup-addon {
    background: #ffffff;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 0rem 0.1rem;
    min-width: 3rem;
}
.p-inputgroup {
    display: flex;
    align-items: stretch;
    width: 40%;
}
.menu-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
@media screen and (max-width: 992px) {
    .topbarHeading {
        display: none;
    }
}

:host::ng-deep {
    .p-inputgroup .p-inputtext,
    .p-fluid .p-inputgroup .p-inputtext,
    .p-inputgroup .p-inputwrapper,
    .p-inputgroup .p-inputwrapper > .p-component {
        flex: 1 1 auto;
        width: 100%;
    }
}
.custom-splitbutton .p-splitbutton-menu {
    left: auto; /* Reset default left position */
    right: 5; /* Align to the right */
}
