<form [formGroup]="footerForm">
    <div *ngIf="hideFooter==false" class="layout-footer layout-footer-style">
        <div class="flex justify-content-evenly align-content-center flex-wrap">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"
                [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="false" [showPageLinks]="true"
                [pageLinkSize]="3"></p-paginator>
            <!-- [showJumpToPageDropdown]="true" -->
            <p-inputSwitch formControlName="fixedFooter" class="mt-4" pTooltip="Enable to Fixed Footer"
                tooltipPosition="right"></p-inputSwitch>
        </div>
    </div>
</form>