<form [formGroup]="dynamicForm" (onSubmit)="saveData()">
    <p-toast />
    <!-- Category For loop -->

    <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-images" style="
                        color: slateblue;
                    "></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Entries
                    </span>
                </div>
            </ng-template>
            <div>
                <ng-container *ngTemplateOutlet="trackEntry">

                </ng-container>
            </div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-images" style="
                        color: slateblue;
                    "></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Graph
                    </span>
                </div>
            </ng-template>
            <div>
                <p-dropdown [options]="chartTypes" [showClear]="true" placeholder="Select a Chart Type"
                    [editable]="true" (onChange)="onTypeChange($event)" />
                <div *ngIf="chartEnable" style="width: 50%; height: 50%; background-color: white;">
                    <p-chart [type]="selectedChartType" [data]="chartData" [options]="chartOptions"></p-chart>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>

    <ng-template #trackEntry>
        <div *ngFor="let category of groupedData; let i = index">
            <div>
                <h2 class="text-blue-700">
                    {{ category.category }}
                </h2>
                <!-- SubCategory For loop -->
                <div *ngFor="
                    let subCategory of category.subCategories;
                    let j = index
                ">
                    <div [id]="'section-' + i + '-' + j">

                        <!-- <div *ngFor="
                            let content of subCategory.contents
                         " class="m-0"> -->
                        <p-card class="m-1">
                            <ng-template pTemplate="header">
                                <!-- <div class="flex justify-content-between flex-wrap"> -->
                                <div class="flex justify-content-between flex-wrap">
                                    <h6 class="text-purple-600 font-bold mt-1 mb-0">
                                        {{ subCategory.subCategory }}
                                    </h6>
                                    <!-- <div class="m-1" *ngIf="content.headerNote.length > 0">
                                                <div *ngFor="let headerNote of content.headerNote">
                                                    <div [innerHTML]="headerNote">
                                                    </div>
                                                </div>
                                            </div> -->
                                    <div class="m-1">
                                        <!-- <div *ngFor="let headerNote of content.headerNote">
                                                <div [innerHTML]="headerNote">
                                                </div>
                                            </div> -->
                                        <div *ngFor=" let content of subCategory.contents;let i=index"
                                            style="left:10px">
                                            <div *ngIf="i == subCategory.contents.length-1"
                                                class="font-bold text-pink-600">
                                                {{"Total :- "+ getSumAmount(content.value,i) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </ng-template>
                            <p> </p>
                            <ng-template pTemplate="footer">
                                <div *ngFor=" let content of subCategory.contents" class="m-0">
                                    <div>
                                        <div class="grid">
                                            <div class="col-3" *ngIf="content.innerHeader.length > 0">
                                                <div *ngFor="let innerHeader of content.innerHeader">
                                                    <div class="m-1 text-md font-bold text-pink-600"
                                                        [innerHTML]="innerHeader">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3" *ngIf="content.detail.length > 0">
                                                <div class="m-1 p-1" *ngFor="let detail of content.detail">
                                                    <span [innerHTML]="detail "></span>
                                                </div>
                                            </div>
                                            <div class="col-3" *ngIf="content.sideNote.length > 0">
                                                <div *ngFor="let sideNote of content.sideNote">
                                                    <span [innerHTML]="sideNote">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div *ngIf="content.value.length > 0">
                                                    <div class="font-bold text-pink-600"
                                                        *ngFor="let value of content.value">
                                                        {{value| currency:'INR':'symbol':'1.2-2' }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <p-button icon="pi pi-pencil" aria-label="edit"
                                                    (click)="onEdit(content)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  -->
                            </ng-template>
                        </p-card>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <div class="add-button-container">
        <button p-button class="add-button" (click)="onAddClick()"><i class="pi pi-plus"
                style="font-size: 2rem"></i></button>
    </div>
    <p-dialog header="Add Info" [modal]="true" [(visible)]="visible" [style]="{ width: 'auto',height:'auto' }">
        <div class="m-2" *ngFor="let key of keyNames">
            <div class="grid">
                <div class="col-3">
                    <label for="key" class="center-label font-bold text-pink-600">{{key}}</label>
                </div>
                <div class="col-9">
                    <input pInputText [id]="key" [formControlName]="key" [type]="getType(key)"
                        aria-describedby="key-help" />
                </div>
            </div>
        </div>
        <div class="flex justify-content-center gap-2">
            <p-button label="Save" (click)="saveData()" />
        </div>
    </p-dialog>
</form>