<!-- <h3>{{selectedValue}}</h3> -->
<ul class="cards">
    <li *ngFor="let card of cards; let i = index" class="card" [ngClass]="{
        'card--current': i === currentCardIndex,
        'card--next': i === nextCardIndex(),
        'card--out': i === previousCardIndex()
      }" (click)="onCardClick(i)">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="ml-2">
                        <p-paginator (onPageChange)="onContentChange($event)" [first]="0" [rows]="5"
                            [totalRecords]="20" />
                    </span> <span class="mr-2"><p-toggleButton offIcon="pi pi-volume-off" onIcon="pi pi-volume-up"
                            (onChange)="onAudioOn($event)
                 " /></span>
                    <div class="flex flex-wrap gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="pizza" value="got" [(ngModel)]="selectedStatus[i]" inputId="got"
                                (onClick)="onStatusClick(i,'got')" />
                            <label for="got" class="ml-2 text-cyan-700 font-semibold">
                                Got
                            </label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="pizza" value="loss" [(ngModel)]="selectedStatus[i]" inputId="loss"
                                (onClick)="onStatusClick(i,'loss')" />
                            <label for="loss" class="ml-2 text-pink-500 font-semibold">
                                Loss
                            </label>
                        </div>
                    </div>
                </div>
            </ng-template>
            <div class="flex justify-content-center align-content-center">
                <!-- <iframe [src]="card.images[contentIndexValue]" width="140px" height="150px" frameborder="0"
                    style="border-radius: 10px;" allowfullscreen></iframe> -->
                <img [src]="card.images[contentIndexValue]" alt="WWF" style="width: 350px; border-radius: 10px;">
            </div>
        </p-panel>
        <div class="tcNameStyle"><a (click)="valueClick('The WWE Super Star the great '+card.name)"
                style="cursor: pointer;">
                {{card.name}}
            </a></div>
        <div class="tcDataStyle">
            <div *ngFor="let val of card.data" class="tcBottonPlaceStyle">
                <!-- <p-button [label]="val" styleClass="p-button-text p-button-plain" url="https://www.example.com">
                </p-button> -->
                <a (click)="valueClick(val)" style="cursor: pointer;">
                    {{val}}
                </a>
            </div>
        </div>
    </li>
</ul>